[
    {
        "ParameterKey":     "KeyName",
        "ParameterValue":   "<changeMe>"
    },
    {
        "ParameterKey":     "PublicInstanceType",
        "ParameterValue":   "t2.micro"
    },
    {
        "ParameterKey":     "DockerInstanceType",
        "ParameterValue":   "m3.medium"
    },
    {
        "ParameterKey":     "AdvertisedIPAddress",
        "ParameterValue":   "private"
    },
    {
        "ParameterKey":     "ClusterSize",
        "ParameterValue":   "3"
    },
    {
        "ParameterKey":     "AllowSSHFrom",
        "ParameterValue":   "SSH_FROM"
    },
    {
        "ParameterKey":     "DiscoveryURL",
        "ParameterValue":   "DISCOVERY_URL"
    }
]
