[Unit]
Description=Elasticsearch

# Requirements
Requires=docker.service
Requires=fleet.service
Requires=consul.service

# Dependency ordering and binding
After=docker.service
After=fleet.service
After=consul.service

[Service]
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/mkdir -p /es/data
ExecStartPre=/usr/bin/docker pull monsantoco/elasticsearch
ExecStart=/usr/bin/docker run --rm --name %p -v /es/data:/esvol/data -p 9200:9200 -p 9300:9300 -e KV_HOST=${COREOS_PRIVATE_IPV4} -e ES_CLUSTER=elk01 monsantoco/elasticsearch
#ExecStart=/usr/bin/docker run --rm --name %p -v /es/data:/esvol/data -p 9200:9200 -p 9300:9300 -e KV_TYPE=consul -e KV_HOST=${COREOS_PRIVATE_IPV4} -e ES_CLUSTER=elk01 monsantoco/elasticsearch
#ExecStartPost=/usr/bin/etcdctl set /es/host/%H '{"ipv4":${COREOS_PRIVATE_IPV4},"http_port":9200,"cluster_port":9300,"cluster":"elk01"}'
ExecStartPost=/usr/bin/etcdctl set /es/host/%H "${COREOS_PRIVATE_IPV4}:9200"
#ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/es/host/%H -XPUT -d value='{"ipv4":${COREOS_PUBLIC_IPV4},"http_port":9200,"cluster_port":9300,"cluster":"elk01"}'
#ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/es/host/%H -XPUT -d value=${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker kill %p
ExecStop=/usr/bin/docker rm %p
ExecStopPost=/usr/bin/etcdctl rmdir /es/host/%H
#ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/es/host/%H -XDELETE

[X-Fleet]
Conflicts=%p.service

[Unit]
Description=Logstash

# Requirements
Requires=docker.service
Requires=fleet.service
Requires=consul.service

# Dependency ordering and binding
After=docker.service
After=fleet.service
After=consul.service

[Service]
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull monsantoco/logstash
#ExecStart=/usr/bin/docker run --rm --name %p -e KV_TYPE=consul -e KV_HOST=${COREOS_PRIVATE_IPV4} -p 5000:5000 -p 5010:5010 -p 5020:5020 -p 5025:5025 monsantoco/logstash
ExecStart=/usr/bin/docker run --rm --name %p -e KV_HOST=${COREOS_PRIVATE_IPV4} -p 5000:5000 -p 5010:5010 -p 5020:5020 -p 5025:5025 monsantoco/logstash
ExecStartPost=/usr/bin/etcdctl set /logstash/host/%H ${COREOS_PRIVATE_IPV4}
#ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/logstash/host/%H -XPUT -d value=${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker kill %p
ExecStop=/usr/bin/docker rm %p
ExecStopPost=/usr/bin/etcdctl rmdir /logstash/host/%H
#ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/es/host/%H -XDELETE

[X-Fleet]
Conflicts=%p.service

[Unit]
Description=Kibana

# Requirements
Requires=docker.service
Requires=fleet.service

# Dependency ordering and binding
After=docker.service
After=fleet.service

[Service]
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull monsantoco/kibana
ExecStart=/usr/bin/docker run --rm --name %p -p 5601:5601 -e KV_HOST=${COREOS_PRIVATE_IPV4} monsantoco/kibana
#ExecStart=/usr/bin/docker run --rm --name %p -p 5601:5601 -e KV_HOST=${COREOS_PRIVATE_IPV4} -e KV_TYPE=consul monsantoco/kibana
ExecStartPost=/usr/bin/etcdctl set /kibana/host/%H ${COREOS_PRIVATE_IPV4}
#ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/kibana/host/%H -XPUT -d value=${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker kill %p
ExecStop=/usr/bin/docker rm %p
ExecStopPost=/usr/bin/etcdctl rmdir /kibana/host/%H
#ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/kibana/host/%H -XDELETE

[X-Fleet]
Conflicts=%p.service

