[
  {
    "ParameterKey":     "App",
    "ParameterValue":   "<changeMe>"
  },
  {
    "ParameterKey":     "Group",
    "ParameterValue":   "<changeMe>"
  },
  {
    "ParameterKey":     "Owner",
    "ParameterValue":   "<changeMe>"
  },
  {
    "ParameterKey":     "Environment",
    "ParameterValue":   "<changeMe>"
  },
  {
    "ParameterKey":     "KeepAlive",
    "ParameterValue":   "false"
  },
  {
    "ParameterKey":     "CostCenter",
    "ParameterValue":   "####-####-ABC#####"
  },
  {
    "ParameterKey":     "KeyName",
    "ParameterValue":   "<changeMe>"
  },
  {
    "ParameterKey":     "JumpInstanceType",
    "ParameterValue":   "t2.micro"
  },
  {
    "ParameterKey":     "NATInstanceType",
    "ParameterValue":   "t2.micro"
  },
  {
    "ParameterKey":     "DockerInstanceType",
    "ParameterValue":   "m3.medium"
  },
  {
    "ParameterKey":     "AdvertisedIPAddress",
    "ParameterValue":   "private"
  },
  {
    "ParameterKey":     "ClusterSize",
    "ParameterValue":   "3"
  },
  {
    "ParameterKey":     "AutoScaleCooldown",
    "ParameterValue":   "300"
  },
  {
    "ParameterKey":     "AllowSSHFrom",
    "ParameterValue":   "SSH_FROM"
  },
  {
    "ParameterKey":     "DiscoveryURL",
    "ParameterValue":   "DISCOVERY_URL"
  }
]
