[
  { "ParameterKey":     "App", "ParameterValue":   "<changeMe>" },
  { "ParameterKey":     "Group", "ParameterValue":   "<changeMe>" },
  { "ParameterKey":     "Owner", "ParameterValue":   "<changeMe>" },
  { "ParameterKey":     "Environment", "ParameterValue":   "<changeMe>" },
  { "ParameterKey":     "CostCenter", "ParameterValue":   "####-####-ABC#####" },
  { "ParameterKey":     "ClusterSize", "ParameterValue":   "3" },
  { "ParameterKey":     "RouterClusterSize", "ParameterValue":   "2" },
  { "ParameterKey":     "KeepAlive", "ParameterValue":   "false" },
  { "ParameterKey":     "JumpInstanceType", "ParameterValue":   "t2.micro" },
  { "ParameterKey":     "NATInstanceType", "ParameterValue":   "t2.micro" },
  { "ParameterKey":     "DockerInstanceType", "ParameterValue":   "m3.medium" },
  { "ParameterKey":     "AdvertisedIPAddress", "ParameterValue":   "private" },
  { "ParameterKey":     "AutoScaleCooldown", "ParameterValue":   "300" },
  { "ParameterKey":     "KeyName", "ParameterValue":   "@KEY_NAME@" },
  { "ParameterKey":     "AllowSSHFrom", "ParameterValue":   "@SSH_FROM@" },
  { "ParameterKey":     "DiscoveryURL", "ParameterValue":   "@DISCOVERY_URL@" }
]
