[
  { "ParameterKey": "DBName",               "ParameterValue": "<changeme>" },
  { "ParameterKey": "Engine",               "ParameterValue": "<changeme>" },
  { "ParameterKey": "MasterUsername",       "ParameterValue": "<changeme>" },
  { "ParameterKey": "MasterUserPassword",   "ParameterValue": "<changeme>" },
  { "ParameterKey": "VPCID",                "ParameterValue": "@VPC_ID@" },
  { "ParameterKey": "ServiceSGID",          "ParameterValue": "@SERVICE_SG_ID@" },
  { "ParameterKey": "DBSubnet1Cidr",        "ParameterValue": "10.183.110.0/24" },
  { "ParameterKey": "DBSubnet2Cidr",        "ParameterValue": "10.183.111.0/24" },
  { "ParameterKey": "DBInstanceClass",      "ParameterValue": "db.m3.medium" }
]
