[Unit]
Description=Kibana

# Requirements
Requires=docker.service
Requires=fleet.service
Wants=elasticsearch.service

# Dependency ordering and binding
After=docker.service
After=fleet.service
After=elasticsearch.service

[Service]
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull monsantoco/kibana
ExecStart=/usr/bin/docker run --rm --name %p -p 5601:5601 -e KV_HOST=${COREOS_PRIVATE_IPV4} monsantoco/kibana
#ExecStart=/usr/bin/docker run --rm --name %p -p 5601:5601 -e KV_HOST=${COREOS_PRIVATE_IPV4} -e KV_TYPE=consul monsantoco/kibana
ExecStartPost=/usr/bin/etcdctl set /kibana/host/%H ${COREOS_PRIVATE_IPV4}
#ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/kibana/host/%H -XPUT -d value=${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker kill %p
ExecStop=/usr/bin/docker rm %p
ExecStopPost=/usr/bin/etcdctl rmdir /kibana/host/%H
#ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/kibana/host/%H -XDELETE

[X-Fleet]
Conflicts=%p.service

